
/* html{
     background-color: black;
} */

.guud{
          display: flex;
          padding: 4rem;
          justify-content: space-between;
       font-family: 'Poppins', sans-serif;
}

.qoralo{
          margin-top: 6rem;
          /* padding: 2rem; */
}
.head h1 {
          
          font-weight: 900;
          font-weight: bolder;
          font-size: 50px;
          text-transform:capitalize;
          
}
.spens{
     color: #457b9d;
}

.sawir{
          width: 60%;
          height: 100%;
          position: relative;
          left: 4rem;
}
.sawir img {
          width: 75%;
          height: 20%;
          margin-right: 5rem;
          object-fit: cover;
}
.text{
          font-size: 20px;
          font-weight: bold;
          color: gray;
         
       
}

.btns button{
   
     padding: 0.8rem;
     color:rgb(0, 0, 0);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
     border-radius: 1rem;  
     margin-top: 1.5rem; 
     font-size: 20px;
     border: 4px solid crimson;
     cursor: pointer;
     transition: all .5s ease;
}

@media screen and (max-width:940px) {
.guud{
     display: flex;
     flex-direction: column-reverse;
}
.sawir img {
          width: 100%;
          height: 40vh;    
}
.qoralo{
     text-align: center;
     
}
}