  /* .guudahn{
          text-align: center;
          background-color: #316079;
          color: white;
          background-image:  url("dd.png");

  }

  .header{
          font-size: 25px;
          font-weight: bolder;
          color: #dee2e6;
  }

  .lorem {
          font-size: 20px;  
          color:white;  
          font-family: Arial, Helvetica, sans-serif;
          margin-top: 2rem;
  }

  .btn button{
          color: white;
          background-color: #012a4a;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          padding: 1rem;
          font-size: 20px;
          border-radius: 0.8rem;
          margin-top: 3rem;

  }

  .guud{
        width: 100%;
        height: 100%;
        margin-left: 2rem;
        margin-top: 4rem;
      /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */

/*   
.guud img {
        height: 100px;
        width: 100px;
} */

.guud{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        height: 30vh;
}
.guud h1{
        position: relative;
        top: 5rem;
        color: #fff;
        text-align: center;
}

.dhamn{
        background-image:linear-gradient(rgba(0, 0, 0, 0.554), rgba(11, 11, 93, 0.587)), url(https://miro.medium.com/max/1400/1*4zWMUdyDbpiLGWi1Im0EmA.jpeg);
        background-position: center;
        background-size: cover;
        text-align: center;
        object-fit: cover;
}

.php {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        margin-top: 0rem;
        color: rgb(255, 255, 255);
        text-align: center;
        width: 50%;
        margin:0 auto ;

}

.btns button   {
        padding: 1rem;
        border-radius: 0.9rem;
        background-color:crimson ;
        margin-top: 2rem;
        color: white;
        font-size: 20px;
        border: none;
        transition: .5s ease;
        cursor: pointer;
        transform: translateY(-30px);
}

button:hover{
        background: #fff;
        color: #000;
}

.them{
        display: flex;
        margin-top: 9rem;
        gap: 4rem;       
        text-align: center;
        position: relative;
        top: -4rem; 

}




 .sawir img{
        width: 55px;
        height: 55px;
        object-fit: cover;
        align-items: center;
}

.phrgph{
        font-size: 19px;
        font-weight: bold;
        text-transform: capitalize;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.them .iskujir{
        /* gap: 3rem; */
        background: rgba(238, 229, 238, 0.667);
        border-radius: 5px;
        box-shadow:  3px 4px 3px 1px rgba(0, 0, 0, 0.497);
        transition: .5s ease;
        cursor: pointer;
        text-align: center;
        
}
.iskujir:hover{
        box-shadow: 4px 5px 6px 6px rgba(0, 0, 0, 0.587);
        transform: translateY(2px);
}
.head{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
}


@media screen and (max-width:940px){
       .dhamn .php {
                width: 100%;
                margin-top: 3rem;
        }


        .them{
                display: flex;
                flex-direction: column;
                text-align: center;        
        }
        .iskujir{
                width: 80%;
                height: 40vh;
                text-align: center;

        }

        .guud h1{
                text-align: center;
        }
}