.guud {
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 30vh;
}

.hello ul {
display: flex;
justify-content: end;
gap: 1rem;
position: relative;
left: -4rem;
align-items: center;
top: 3rem;
font-weight: bold;
font-size: 24px;
}
.nav {
  font-family: "Poppins", sans-serif;
  position: absolute;
  color: white;
  font-size: 24px;
  background-color: #003049;
  padding: 1.5rem;
  align-items: center;
  width: 100%;
  z-index: -1;
}

.lists {
  padding: 0 20px;
  color: white;
}

h2 span {
  color: gray;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}
.logo {
  font-size: 28px;
  margin-right: 1rem;
  font-family: "Poppins", sans-serif;
}
.bars {
  display: none;
}

.menu1 {
  color: #ffffff;
  transition: 0.3s ease;
}
.menu1:hover {
  color: crimson;
}
@media screen and (max-width: 940px) {
  .bars {
    display: block;
    color: #fff;
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 100;
    transition: 0.5s ease;
    cursor: pointer;
    position: fixed;
    
  }
  .bars:hover {
    color: crimson;
  }

 .hello .nav-menu {
    transition: 0.5s ease-in;
    position: relative;
    flex-direction: column;
    width: 60%;
    left: -200%;
    text-align: center;
    justify-content: center;
    z-index: 1;
    height: 28vh;
  }
  .hello .nav-menu {

    background: rgba(0, 0, 0, 0.8);
    top: .5rem;
    display: flex;
    gap: 1rem;
    font-weight: bold;
  }
  .hello .active {
    left: 0;
    border-top-left-radius: 50px;
    color: #fff;
    height: 100vh;
  }
.guud{
  height: 30vh;
}
}
